.angularshell{
    display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 90vh;
        width: 100%;
}
.angularshell a{
    color: #a8a8a8;
}