<footer>
  <section class="firstSection">
    <h2 class="title">Information</h2>
    <p>
      This website is intended to provide information to healthcare professionals in Germany only.
    </p>
    <div class="row">
      <div class="col-lg-6">
        <h2 class="title">Bayer Pharma AG</h2>
        <p>0800 64 22 937</p>
        <p>Müllerstraße 178<br>
          13353 Berlin</p>
        <!-- <p>medical-information@bayer.com</p> -->
      </div>
      <div class="col-lg-6">

        <h2 class="title">Contact Us</h2>
        <p>Do you have questions or comments about our website, our products or services?</p>
        <button class="contactButton">CONTACT</button>
      </div>
    </div>
  </section>
  <section class="secondSection">
    <div class="imgSection">
      <img src="./../../assets/BayerLogo.png" alt="logo" />
      <h2 class="title">SPACE</h2>
      <p>Your Medical Portal</p>
    </div>
    <div class="row secondRow">
      <div class="col-lg-3">
        <a href="#!" class="linkSection">Report a Side Effect</a>
      </div>
      <div class="col-lg-2">
        <a href="#!" class="linkSection">Imprint</a>
      </div>
      <div class="col-lg-3">
        <a href="#!" class="linkSection">Conditions of Use</a>
      </div>
      <div class="col-lg-2">
        <a href="#!" class="linkSection">Privacy Statement</a>
      </div>
      <div class="col-lg-2">
        <a href="#!" class="linkSection">Site Map</a>
      </div>
    </div>
    <!-- <p>Copyright @ Bayer AG | MA-V_VER-DE-0171-1</p> -->
  </section>
</footer>