.firstSection {
    padding: 1em 4em;
    margin: 0%;
    line-height: 3em;
}

a:hover {
    color: #ff3162;
}

.mainTitle,
.title {
    text-decoration: none;
    color: #10384f;
    font-size: 13px;
    font-weight: 700;
}

.subTitle {
    text-decoration: none;
    color: #10384f;
    font-size: 13px;
}

.subTitleP {
    margin-bottom: 0px !important;
    height: 17px;
}

.slashSymbol {
    font-size: 15px;
    color: #dee8eb;
    padding: 10px;
}

.horizontalLine {
    color: black;
    height: 5px;
    margin: 32px 0px;
}

.three-color-line {
    width: 100%;
    height: 4px;
    display: flex;
}

.color1 {
    background-color: #0191df;
    width: 33.33%;
}

.color2 {
    background-color: #66b512;
    width: 33.33%;
}

.color3 {
    background-color: #ff3162;
    width: 33.33%;
}

.text {
    font-size: 10px;
    padding: 0px 18em;
    text-align: center;
    margin-top: 4em;
}

.copyRight {
    font-size: 11px;
    font-weight: 700;
    padding: 0px 13em;
    text-align: center;
}