<!-- news.component.html -->
<div *ngIf="loading">Loading...</div>
<div *ngIf="error">{{ error }}</div>

<div *ngIf="!loading && !error">
  <h1>Articles from Drupal</h1>
  <ul style="display: flex; justify-content: space-between; align-content: space-between; width: 100%">
    <li *ngFor="let article of articles; let index = index" style="list-style: none">
      <h1 class="font-extrabold text-gray-800 mb-5">{{ article.attributes.title }}</h1>

      <div *ngIf="images[index]" style="margin: 10px">
        <img [src]="'https://chhcpportalode4.prod.acquia-sites.com' + images[index]" alt="Image" style="width: 200px; height: auto" />
      </div>

      <p class="text-gray-700">{{ article.attributes.body?.value }}</p>
      <p class="text-gray-700 mb-5">
        Start: {{ article.attributes.field_news_campaign_period?.value }} end: {{ article.attributes.field_news_campaign_period?.end_value }}
      </p>

      <div class="flex gap-6">
        <div class="rounded-full bg-gray-200 py-1 px-4 text-gray-800 hover:bg-slate-500">
          <a [href]="article.attributes.field_news_link?.uri">
            {{ article.attributes.field_news_link?.title }}
          </a>
        </div>
      </div>
    </li>
  </ul>
</div>
