/* news.component.css */
img {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  li {
    width: 20%;
    margin: 15px;
  }
  h1 {
    font-size: 1.5em;
    color: #333;
  }
  p {
    color: #666;
  }

  /* news.component.css or styles.css */
ul.article-list {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  list-style: none; /* Remove list styles */
  padding: 0;
}

ul.article-list li {
  width: 48%; /* Adjusts the space for each item to ensure two items fit per row */
}

.article-image {
  margin: 10px;
}

.article-image img {
  width: 200px;
  height: auto;
}

.article-link {
  border-radius: 9999px; /* Makes it a pill shape */
  background-color: #e2e8f0; /* Gray background */
  padding: 1rem;
  color: #2d3748; /* Text color */
  text-decoration: none;
}

.article-link:hover {
  background-color: #64748b; /* Darker gray on hover */
}