<!-- news.component.html -->
<div *ngIf="loading">Loading...</div>
<div *ngIf="error">{{ error }}</div>

<div *ngIf="!loading && !error">
  <!-- <h1 class=" my-5 mx-4 card-header">Training Article</h1> -->
  <ul   class="d-flex justify-content-between" >
    <li class="card text-bg-light card-body border-secondary mb-3" style="max-width: 20rem; list-style: none" *ngFor="let article of articles; let index = index" >
      <div *ngIf="images[index]" style="margin: 10px">
        <img class="card-img-top" [src]="'https://chains.club.bayer.ae' + images[index]" alt="Image" style="width: 200px; height: auto" />
      </div>
      <a [href] = "'http://localhost:4202/group/'+ article.id[0].value" target="blank">
        <!-- <a href = "http://localhost:4202/training-detail/1" target="blank"> -->
          <h1  class="card-title">{{ article.label[0].value }}</h1>
        </a>
      
      
      
      <p  class="card-text text-gray-700" [innerHTML]="article.field_learning_path_description[0]?.value">{{ article.field_learning_path_description[0]?.value }}</p>
      <!-- <p class="card-text text-gray-700 mb-5">
        Start: {{ article.attributes.field_news_campaign_period?.value }} end: {{ article.attributes.field_news_campaign_period?.end_value }}
      </p> -->

      <!-- <div class="flex gap-6">
        <div class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
          <a [href]="article.attributes.field_news_link?.uri">
            {{ article.attributes.field_news_link?.title }}
          </a>
        </div>
      </div> -->
    </li>
  </ul>
</div>