<nav class="navbar navbar-expand-lg navbar-light  nav-bar-header">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div  class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li *ngFor="let item of flatMenuItems" class="nav-item" [ngClass]="{'dropdown': item.below}">
          <a *ngIf="!item.below" class="nav-link" routerLink="{{ item.absolute }}" #menuLink>
            {{ item.title }}
          </a>
          <a *ngIf="item.below" class="nav-link dropdown-toggle" routerLink="{{ item.absolute }}"
            id="navbarDropdownMenuLink" #menuLink>
            {{ item.title }}
          </a>
          <ul *ngIf="item.below" class="dropdown-menu animate-dropdown rounded-0 border-0"
            aria-labelledby="navbarDropdownMenuLink">
            <li *ngFor="let subItem of item.below" class="submenu-list d-flex">
              <a class="dropdown-item" routerLink="{{ subItem.absolute }}" #menuLink>
                {{ subItem.title }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>