<header class="cdHeader">
    <nav class="navBar">
        <div class="row">
            <div class="col-lg-7 logo">
                <img src="../../assets/ClubBayer logo.PNG" class="clubBayerLogo" alt="logo" />
            </div>
            <div class="col-lg-5 rightDiv">
                <div class="col-lg-10 iconsList">
                    <i class="bi bi-gear iconLink"></i>
                    <i class="bi bi-heart-fill iconLink"></i>
                    <i class="bi bi-bell iconLink"></i>
                    <i class="bi bi-calendar4-week iconLink"></i>
                    <i class="bi bi-person-circle iconLink"></i>
                    <i class="bi bi-power iconLink redIcon"></i>
                </div>
                <div class="col-lg-2 logo">
                    <img src="../../assets/BayerLogo.png" class="bayerlogo" alt="logo" />
                </div>
            </div>
        </div>
    </nav>
</header>